<!DOCTYPE html>

<head>

<title>Learning Style Inventory</title>

<script language="JavaScript" src="/quiz.js" type="text/javascript"></script>


</head>

<body>

<div id="container">

<div id="Questions">

<div id="Instructions">

<h1>Learning Style Inventory</h1>

<p class="instructions">To gain a better understanding of yourself as a learner, you need to evaluate the way you prefer to learn or process information. By doing so, you will be able to develop strategies which will enhance your learning potential. The following evaluation is a short, quick way of assessing your learning style. No studies have validated this inventory. Its main benefit is to get you to think about yourself, to consider learning alternatives; not to rigidly classify you.</p>

<p class="instructions">Answer each question honestly.</p>

<p class="instructions"><strong>Instructions:</strong> Click on the appropriate button after each statement. After answering all questions, click on the <strong>Determine Style</strong> button below.</p>

<p></p>

</div> <!-- Instructions -->

<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
<caption><h2><b>Learning Styles Inventory</b></h2></caption>

<tr class="bluerow">
<th width="70%" scope="col">Questions</th>
<th width="10%" scope="col">Seldom</th>
<th width="10%" scope="col">Sometimes</th>
<th width="10%" scope="col">Often</th>
</tr>

<tr>
<form name="Question1" id="Question1">
<td class="question">1. I can remember more about a subject through the lecture method with information, explanations and discussion.</td>
<td><input type="radio" value="radio0" name="radio" id="radio1-1"/>
<label for="radio1-1" class="radiobutton">Seldom</label></td>
<td><input type="radio" value="radio1" name="radio" id="radio1-2"/>
<label for="radio1-2" class="radiobutton">Sometimes</label></td>
<td><input type="radio" value="radio2" name="radio" id="radio1-3"/>
<label for="radio1-3" class="radiobutton">Often</label></td>
</form>
</tr>

<tr class="darkrow">
<td class="question">2. I prefer information to be presented the use of visual aids.</td>
<form name="Question2" id="Question2">
<td><input type="radio" value="radio0" name="radio" id="radio2-1"/>
<label for="radio2-1" class="radiobutton">Seldom</label></td>
<td><input type="radio" value="radio1" name="radio" id="radio2-2"/>
<label for="radio2-2" class="radiobutton">Sometimes</label></td>
<td><input type="radio" value="radio2" name="radio" id="radio2-3"/>
<label for="radio2-3" class="radiobutton">Often</label></td>
</form>
</tr>

<tr>
<td class="question">3. I like to write things down or to take notes for visual review.</td>
<form name="Question3" id="Question3">
<td><input type="radio" value="radio0" name="radio" id="radio3-1"/>
<label for="radio3-1" class="radiobutton">Seldom</label></td>
<td><input type="radio" value="radio1" name="radio" id="radio3-2"/>
<label for="radio3-2" class="radiobutton">Sometimes</label></td>
<td><input type="radio" value="radio2" name="radio" id="radio3-3"/>
<label for="radio3-3" class="radiobutton">Often</label></td>
</form>
</tr>

<tr class="darkrow">
<td class="question">4. I prefer to make posters, physical models, or actual practice and some activities in class.</td>
<form name="Question4" id="Question4">
<td><input type="radio" value="radio0" name="radio" id="radio4-1"/>
<label for="radio4-1" class="radiobutton">Seldom</label></td>
<td><input type="radio" value="radio1" name="radio" id="radio4-2"/>
<label for="radio4-2" class="radiobutton">Sometimes</label></td>
<td><input type="radio" value="radio2" name="radio" id="radio4-3"/>
<label for="radio4-3" class="radiobutton">Often</label></td>
</form>
</tr>

<tr>
<td class="question">5. I require explanations of diagrams, graphs, or visual directions.</td>
<form name="Question5" id="Question5">
<td><input type="radio" value="radio0" name="radio" id="radio5-1"/>
<label for="radio5-1" class="radiobutton">Seldom</label></td>
<td><input type="radio" value="radio1" name="radio" id="radio5-2"/>
<label for="radio5-2" class="radiobutton">Sometimes</label></td>
<td><input type="radio" value="radio2" name="radio" id="radio5-3"/>
<label for="radio5-3" class="radiobutton">Often</label></td>
</form>
</tr>

<tr class="darkrow">
<td class="question">6. I enjoy working with my hands or making things.</td>
<form name="Question6" id="Question6">
<td><input type="radio" value="radio0" name="radio" id="radio6-1"/>
<label for="radio6-1" class="radiobutton">Seldom</label></td>
<td><input type="radio" value="radio1" name="radio" id="radio6-2"/>
<label for="radio6-2" class="radiobutton">Sometimes</label></td>
<td><input type="radio" value="radio2" name="radio" id="radio6-3"/>
<label for="radio6-3" class="radiobutton">Often</label></td>
</form>
</tr>

<tr>
<td class="question">7. I am skillful with and enjoy developing and making graphs and charts.</td>
<form name="Question7" id="Question7">
<td><input type="radio" value="radio0" name="radio" id="radio7-1"/>
<label for="radio7-1" class="radiobutton">Seldom</label></td>
<td><input type="radio" value="radio1" name="radio" id="radio7-2"/>
<label for="radio7-2" class="radiobutton">Sometimes</label></td>
<td><input type="radio" value="radio2" name="radio" id="radio7-3"/>
<label for="radio7-3" class="radiobutton">Often</label></td>
</form>
</tr>

<tr class="darkrow">
<td class="question">8. I can tell if sounds match when presented with pairs of sounds.</td>
<form name="Question8" id="Question8">
<td><input type="radio" value="radio0" name="radio" id="radio8-1"/>
<label for="radio8-1" class="radiobutton">Seldom</label></td>
<td><input type="radio" value="radio1" name="radio" id="radio8-2"/>
<label for="radio8-2" class="radiobutton">Sometimes</label></td>
<td><input type="radio" value="radio2" name="radio" id="radio8-3"/>
<label for="radio8-3" class="radiobutton">Often</label></td>
</form>
</tr>

<tr>
<td class="question">9. I remember best by writing things down several times.</td>
<form name="Question9" id="Question9">
<td><input type="radio" value="radio0" name="radio" id="radio9-1"/>
<label for="radio9-1" class="radiobutton">Seldom</label></td>
<td><input type="radio" value="radio1" name="radio" id="radio9-2"/>
<label for="radio9-2" class="radiobutton">Sometimes</label></td>
<td><input type="radio" value="radio2" name="radio" id="radio9-3"/>
<label for="radio9-3" class="radiobutton">Often</label></td>
</form>
</tr>

<tr class="darkrow">
<td class="question">10. I can understand and follow directions on maps.</td>
<form name="Question10" id="Question10">
<td><input type="radio" value="radio0" name="radio" id="radio10-1"/>
<label for="radio10-1" class="radiobutton">Seldom</label></td>
<td><input type="radio" value="radio1" name="radio" id="radio10-2"/>
<label for="radio10-2" class="radiobutton">Sometimes</label></td>
<td><input type="radio" value="radio2" name="radio" id="radio10-3"/>
<label for="radio10-3" class="radiobutton">Often</label></td>
</form>
</tr>

<tr>
<td class="question">11. I do better at academic subjects by listening to lectures and tapes as opposed to reading a textbook.</td>
<form name="Question11" id="Question11">
<td><input type="radio" value="radio0" name="radio" id="radio11-1"/>
<label for="radio11-1" class="radiobutton">Seldom</label></td>
<td><input type="radio" value="radio1" name="radio" id="radio11-2"/>
<label for="radio11-2" class="radiobutton">Sometimes</label></td>
<td><input type="radio" value="radio2" name="radio" id="radio11-3"/>
<label for="radio11-3" class="radiobutton">Often</label></td>
</form>
</tr>

<tr class="darkrow">
<td class="question">12. I play with coins or keys in pockets.</td>
<form name="Question12" id="Question12">
<td><input type="radio" value="radio0" name="radio" id="radio12-1"/>
<label for="radio12-1" class="radiobutton">Seldom</label></td>
<td><input type="radio" value="radio1" name="radio" id="radio12-2"/>
<label for="radio12-2" class="radiobutton">Sometimes</label></td>
<td><input type="radio" value="radio2" name="radio" id="radio12-3"/>
<label for="radio12-3" class="radiobutton">Often</label></td>
</form>
</tr>

<tr>
<td class="question">13. I learn to spell better by repeating the words out loud than by writing the word on papers.</td>
<form name="Question13" id="Question13">
<td><input type="radio" value="radio0" name="radio" id="radio13-1"/>
<label for="radio13-1" class="radiobutton">Seldom</label></td>
<td><input type="radio" value="radio1" name="radio" id="radio13-2"/>
<label for="radio13-2" class="radiobutton">Sometimes</label></td>
<td><input type="radio" value="radio2" name="radio" id="radio13-3"/>
<label for="radio13-3" class="radiobutton">Often</label></td>
</form>
</tr>

<tr class="darkrow">
<td class="question">14. I can better understand a news article by reading about it in the paper than by listening to the radio.</td>
<form name="Question14" id="Question14">
<td><input type="radio" value="radio0" name="radio" id="radio14-1"/>
<label for="radio14-1" class="radiobutton">Seldom</label></td>
<td><input type="radio" value="radio1" name="radio" id="radio14-2"/>
<label for="radio14-2" class="radiobutton">Sometimes</label></td>
<td><input type="radio" value="radio2" name="radio" id="radio14-3"/>
<label for="radio14-3" class="radiobutton">Often</label></td>
</form>
</tr>

<tr>
<td class="question">15. I chew gum, smoke, or snack during studies.</td>
<form name="Question15" id="Question15">
<td><input type="radio" value="radio0" name="radio" id="radio15-1"/>
<label for="radio15-1" class="radiobutton">Seldom</label></td>
<td><input type="radio" value="radio1" name="radio" id="radio15-2"/>
<label for="radio15-2" class="radiobutton">Sometimes</label></td>
<td><input type="radio" value="radio2" name="radio" id="radio15-3"/>
<label for="radio15-3" class="radiobutton">Often</label></td>
</form>
</tr>

<tr class="darkrow">
<td class="question">16. I feel the best way to remember is to picture it in your head.</td>
<form name="Question16" id="Question16">
<td><input type="radio" value="radio0" name="radio" id="radio16-1"/>
<label for="radio16-1" class="radiobutton">Seldom</label></td>
<td><input type="radio" value="radio1" name="radio" id="radio16-2"/>
<label for="radio16-2" class="radiobutton">Sometimes</label></td>
<td><input type="radio" value="radio2" name="radio" id="radio16-3"/>
<label for="radio16-3" class="radiobutton">Often</label></td>
</form>
</tr>

<tr>
<td class="question">17. I learn spelling by tracing the letters with my fingers.</td>
<form name="Question17" id="Question17">
<td><input type="radio" value="radio0" name="radio" id="radio17-1"/>
<label for="radio17-1" class="radiobutton">Seldom</label></td>
<td><input type="radio" value="radio1" name="radio" id="radio17-2"/>
<label for="radio17-2" class="radiobutton">Sometimes</label></td>
<td><input type="radio" value="radio2" name="radio" id="radio17-3"/>
<label for="radio17-3" class="radiobutton">Often</label></td>
</form>
</tr>

<tr class="darkrow">
<td class="question">18. I would rather listen to a good lecture or speech than read about the same material in a textbook.</td>
<form name="Question18" id="Question18">
<td><input type="radio" value="radio0" name="radio" id="radio18-1"/>
<label for="radio18-1" class="radiobutton">Seldom</label></td>
<td><input type="radio" value="radio1" name="radio" id="radio18-2"/>
<label for="radio18-2" class="radiobutton">Sometimes</label></td>
<td><input type="radio" value="radio2" name="radio" id="radio18-3"/>
<label for="radio18-3" class="radiobutton">Often</label></td>
</form>
</tr>

<tr>
<td class="question">19. I am good at working and solving jigsaw puzzles and mazes.</td>
<form name="Question19" id="Question19">
<td><input type="radio" value="radio0" name="radio" id="radio19-1"/>
<label for="radio19-1" class="radiobutton">Seldom</label></td>
<td><input type="radio" value="radio1" name="radio" id="radio19-2"/>
<label for="radio19-2" class="radiobutton">Sometimes</label></td>
<td><input type="radio" value="radio2" name="radio" id="radio19-3"/>
<label for="radio19-3" class="radiobutton">Often</label></td>
</form>
</tr>

<tr class="darkrow">
<td class="question">20. I play with objects in hands during learning period.</td>
<form name="Question20" id="Question20">
<td><input type="radio" value="radio0" name="radio" id="radio20-1"/>
<label for="radio20-1" class="radiobutton">Seldom</label></td>
<td><input type="radio" value="radio1" name="radio" id="radio20-2"/>
<label for="radio20-2" class="radiobutton">Sometimes</label></td>
<td><input type="radio" value="radio2" name="radio" id="radio20-3"/>
<label for="radio20-3" class="radiobutton">Often</label></td>
</form>
</tr>

<tr>
<td class="question">21. I remember more by listening to the news on the radio rather than reading about it in the newspaper.</td>
<form name="Question21" id="Question21">
<td><input type="radio" value="radio0" name="radio" id="radio21-1"/>
<label for="radio21-1" class="radiobutton">Seldom</label></td>
<td><input type="radio" value="radio1" name="radio" id="radio21-2"/>
<label for="radio21-2" class="radiobutton">Sometimes</label></td>
<td><input type="radio" value="radio2" name="radio" id="radio21-3"/>
<label for="radio21-3" class="radiobutton">Often</label></td>
</form>
</tr>

<tr class="darkrow">
<td class="question">22. I obtain information on an interesting subject by reading relevant materials.</td>
<form name="Question22" id="Question22">
<td><input type="radio" value="radio0" name="radio" id="radio22-1"/>
<label for="radio22-1" class="radiobutton">Seldom</label></td>
<td><input type="radio" value="radio1" name="radio" id="radio22-2"/>
<label for="radio22-2" class="radiobutton">Sometimes</label></td>
<td><input type="radio" value="radio2" name="radio" id="radio22-3"/>
<label for="radio22-3" class="radiobutton">Often</label></td>
</form>
</tr>

<tr>
<td class="question">23. I feel very comfortable touching others, hugging, handshaking, etc.</td>
<form name="Question23" id="Question23">
<td><input type="radio" value="radio0" name="radio" id="radio23-1"/>
<label for="radio23-1" class="radiobutton">Seldom</label></td>
<td><input type="radio" value="radio1" name="radio" id="radio23-2"/>
<label for="radio23-2" class="radiobutton">Sometimes</label></td>
<td><input type="radio" value="radio2" name="radio" id="radio23-3"/>
<label for="radio23-3" class="radiobutton">Often</label></td>
</form>
</tr>

<tr class="darkrow">
<td class="question">24. I follow oral directions better than written ones.</td>
<form name="Question24" id="Question24">
<td><input type="radio" value="radio0" name="radio" id="radio24-1"/>
<label for="radio24-1" class="radiobutton">Seldom</label></td>
<td><input type="radio" value="radio1" name="radio" id="radio24-2"/>
<label for="radio24-2" class="radiobutton">Sometimes</label></td>
<td><input type="radio" value="radio2" name="radio" id="radio24-3"/>
<label for="radio24-3" class="radiobutton">Often</label></td>
</form>
</tr>

</table>

<form id="form_end">
<p>After answering each question, click on the button below.<p>
<p></p>
<input name="Determine Style" type="button" value="Determine Style" onClick="determineStyle()"/>
</form>



</div> <!-- End of Questions -->

<hr>

<div id="results" aria-live="assertive">

<p><h3>Your survey results will appear here.</h3></p>

<p><strong>About the Three Styles</strong><p>

<p></p>

<p>If you are an AUDITORY learner, you may wish to use tapes. Tape lectures to help you fill in the gaps in your notes. But do listen and take notes, reviewing notes frequently. Sit in the lecture hall or classroom where you can hear well. After you have read something, summarize it and recite it aloud.</p>

<p></p>

<p>If your are a VISUAL learner, then by all means be sure that you look at all study materials. Use charts, maps, filmstrips, notes and flashcards. Practice visualizing or picturing words/concepts in your head. Write out everything for frequent and quick visual review.</p>

<p></p>

<p>If you are a TACTILE learner, trace words as you are saying them. Facts that must be learned should be written several times. Keep a supply of scratch paper for this purpose. Taking and keeping lecture notes will be very important. Make study sheets.</p>

<a name="ShowResults" id="ShowResults"></a>

</div> <!-- Results -->


 <a href="/courses/"  class="btn btn-primary btn-lg">Select A course</a>
<div id="footer">

  <p>&nbsp;</p>
  <p><a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/us/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/3.0/us/88x31.png" /></a><br />
    <span xmlns:dc="http://purl.org/dc/elements/1.1/" href="http://purl.org/dc/dcmitype/InteractiveResource" property="dc:title" rel="dc:type">Learning Styles Inventory</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="http://www.personal.psu.edu/bxb11" property="cc:attributionName" rel="cc:attributionURL">Brett Bixler</a> is licensed under a <br />
    <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/us/">Creative Commons Attribution-Noncommercial-Share Alike 3.0 United States License</a>.</p>

</div> <!-- Footer -->


</div> <!-- Container -->

<%= form_for User.update do |f| %>
<div>
  <%= f.label :learningStyle %>
  <%= f.text_area :learningStyle, :value => 'learnMethod', :id => 'learnMethod' %>
  <%= f.submit %>
</div>
<% end %>

<script language="JavaScript" src="/quiz.js" type="text/javascript"></script>
</body>

</html>
