<h1>What's Your Best Learning Style?</h1>
<h4>Score each statement based on your experience! </h4>
<h4> 1=disagree <br> 2=slightly agree <br> 3=agree <br> 4=strongly agree </h4>

<form action="test-new.asp" method="post">
            <table border=0 cellspacing=4 cellpadding=0>
              <tr>
                <td valign="top" align="right">1.</td>
                <td valign="top">
                  <select name="1">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                  </select>
                </td>
                <td valign="top">i feel the best way to remember something is to picture it in my head</td>
              </tr>
              <tr>
                <td valign="top" align="right">2.</td>
                <td valign="top">
                  <select name="2">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                  </select>
                </td>
                <td valign="top">i follow oral directions better than written ones</td>
              </tr>
              <tr>
                <td valign="top" align="right">3.</td>
                <td valign="top">
                  <select name="3">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                  </select>
                </td>
                <td valign="top">i often would rather listen to a lecture than read the material in a textbook</td>
              </tr>
              <tr>
                <td valign="top" align="right">4.</td>
                <td valign="top">
                  <select name="4">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                  </select>
                </td>
                <td valign="top">i am constantly fidgeting (e.g. tapping pen, playing with keys in my pocket)</td>
              </tr>
              <tr>
                <td valign="top" align="right">5.</td>
                <td valign="top">
                  <select name="5">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                  </select>
                </td>
                <td valign="top">i frequently require explanations of diagrams, graphs, or maps</td>
              </tr>
              <tr>
                <td valign="top" align="right">6.</td>
                <td valign="top">
                  <select name="6">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                  </select>
                </td>
                <td valign="top">i work skillfully with my hands to make or repair things</td>
              </tr>
              <tr>
                <td valign="top" align="right">7.</td>
                <td valign="top">
                  <select name="7">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                  </select>
                </td>
                <td valign="top">i often prefer to listen to the radio than read a newspaper</td>
              </tr>
              <tr>
                <td valign="top" align="right">8.</td>
                <td valign="top">
                  <select name="8">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                  </select>
                </td>
                <td valign="top">i typically prefer information to be presented visually, (e.g. flipcharts or chalkboard)</td>
              </tr>
              <tr>
                <td valign="top" align="right">9.</td>
                <td valign="top">
                  <select name="9">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                  </select>
                </td>
                <td valign="top">i usually prefer to stand while working</td>
              </tr>
              <tr>
                <td valign="top" align="right">10.</td>
                <td valign="top">
                  <select name="10">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                  </select>
                </td>
                <td valign="top">i typically follow written instructions better than oral ones</td>
              </tr>
              <tr>
                <td valign="top" align="right">11.</td>
                <td valign="top">
                  <select name="11">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                  </select>
                </td>
                <td valign="top">i am skillful at designing graphs, charts, and other visual displays</td>
              </tr>
              <tr>
                <td valign="top" align="right">12.</td>
                <td valign="top">
                  <select name="12">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                  </select>
                </td>
                <td valign="top">i generally talk at a fast pace and use my hands more than the average person to communicate what i want to say</td>
              </tr>
              <tr>
                <td valign="top" align="right">13.</td>
                <td valign="top">
                  <select name="13">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                  </select>
                </td>
                <td valign="top">i frequently sing, hum or whistle to myself</td>
              </tr>
              <tr>
                <td valign="top" align="right">14.</td>
                <td valign="top">
                  <select name="14">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                  </select>
                </td>
                <td valign="top">i am excellent at finding my way around even in unfamiliar surroundings</td>
              </tr>
              <tr>
                <td valign="top" align="right">15.</td>
                <td valign="top">
                  <select name="15">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                  </select>
                </td>
                <td valign="top">i am good at putting jigsaw puzzles together</td>
              </tr>
              <tr>
                <td valign="top" align="right">16.</td>
                <td valign="top">
                  <select name="16">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                  </select>
                </td>
                <td valign="top">i am always on the move</td>
              </tr>
              <tr>
                <td valign="top" align="right">17.</td>
                <td valign="top">
                  <select name="17">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                  </select>
                </td>
                <td valign="top">i excel at visual arts</td>
              </tr>
              <tr>
                <td valign="top" align="right">18.</td>
                <td valign="top">
                  <select name="18">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                  </select>
                </td>
                <td valign="top">i excel at sports</td>
              </tr>
              <tr>
                <td valign="top" align="right">19.</td>
                <td valign="top">
                  <select name="19">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                  </select>
                </td>
                <td valign="top">i'm an avid collector</td>
              </tr>
              <tr>
                <td valign="top" align="right">20.</td>
                <td valign="top">
                  <select name="20">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                  </select>
                </td>
                <td valign="top">i tend to take notes during verbal discussions/lectures to review later</td>
              </tr>
              <!--  -->
              <tr>
                <td valign="top" align="right">21.</td>
                <td valign="top">
                  <select name="21">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                  </select>
                </td>
                <td valign="top">i am verbally articulate and enjoy participating in discusions or classroom debates</td>
              </tr>
              <tr>
                <td valign="top" align="right">22.</td>
                <td valign="top">
                  <select name="22">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                  </select>
                </td>
                <td valign="top">i easily understand and follow directions on maps</td>
              </tr>
              <tr>
                <td valign="top" align="right">23.</td>
                <td valign="top">
                  <select name="23">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                  </select>
                </td>
                <td valign="top">i remember best by writing things down several times or drawing pictures and diagrams</td>
              </tr>
              <tr>
                <td valign="top" align="right">24.</td>
                <td valign="top">
                  <select name="24">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                  </select>
                </td>
                <td valign="top">i need to watch a speaker's facial expressions and body language to fully understand what they mean</td>
              </tr>
              <tr>
                <td valign="top" align="right">25.</td>
                <td valign="top">
                  <select name="25">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                  </select>
                </td>
                <td valign="top">i frequently use musical jingles to learn things</td>
              </tr>
              <tr>
                <td valign="top" align="right">26.</td>
                <td valign="top">
                  <select name="26">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                  </select>
                </td>
                <td valign="top">i often talk to myself when alone</td>
              </tr>
              <tr>
                <td valign="top" align="right">27.</td>
                <td valign="top">
                  <select name="27">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                  </select>
                </td>
                <td valign="top">i would rather listen to music than view a piece of art work</td>
              </tr>
              <tr>
                <td valign="top" align="right">28.</td>
                <td valign="top">
                  <select name="28">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                  </select>
                </td>
                <td valign="top">i need to actively participate in an activity to learn how to do it</td>
              </tr>
              <tr>
                <td valign="top" align="right">29.</td>
                <td valign="top">
                  <select name="29">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                  </select>
                </td>
                <td valign="top">i frequently tell jokes, stories and make verbal analogies to demonstrate a point</td>
              </tr>
              <tr>
                <td valign="top" align="right">30.</td>
                <td valign="top">
                  <select name="30">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                  </select>
                </td>
                <td valign="top">i frequently touch others as a show of friendship and camaraderie (e.g. hugging)</td>
              </tr>
              <tr>
                <td colspan="3" height="37"><table border=0 cellspacing=4 cellpadding=0 width="100%" >
                    <tr>
                     <a href="/users/results"  class="btn btn-primary btn-lg">Find Out your results</a>
                    </tr>
                </table></td>
              </tr>
            </table>
          </form>
