  <!-- Collect the nav links, forms, and other content for toggling -->
    <ul class="nav navbar-nav navbar-right">
    <li><a href="/sessions/new">Help</a></li>
    <li> <%= link_to "Logout", {:controller=> "sessions", :action=> "destroy"}, :method => :delete%></li>
    </ul>

<div class='user-side-bar'>
  <h2>Hello !</h2>
  <div class ='left-side-bar'>
    <ul>
      <li>
        Learning Style:
      </li>
      <li>
      Courses:
      </li>
       <li>
      Sections:
      </li>
      <li>
        Videos:
      </li>
        <li><a href="/vocabularies/">All Vocabulary</a></li>
        <li><a href="/vocabularies/new">Add Vocabulary</a></li>
    </ul>
  </div>

</div>
<div class = 'content-view'>
</div>
