<!DOCTYPE html>
<html>
<head>
  <title>BrainSop</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script language="JavaScript1.2" src="/quiz.js" type="text/javascript"></script>
  <%= csrf_meta_tags %>
</head>
<body>


<%= yield %>
  <script language="JavaScript1.2" src="/quiz.js" type="text/javascript"></script>
</body>
</html>
